<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles/style.css" th:href="@{/styles/style.css}">
    <title th:text="#{taulerDeControl.title}">Tauler de control | Natura Mobles</title>
    <link rel="icon" th:href="@{/imatges/logo.png}" type="image/png" sizes="32x32" S
        media="(prefers-color-scheme: light)">
    <link rel="icon" th:href="@{/imatges/logo1.png}" type="image/png" sizes="32x32"
        media="(prefers-color-scheme: dark)">
</head>


<body>

    <div class="container">
        <!-- Sidebar Section -->
        <aside>

            <div class="toggle">
                <div class="logo">
                    <img alt="Imatge amb el logo de la empresa" src="../static/imatges/logo.png"
                        th:src="@{/imatges/logo.png}">
                    <h2>Natura<span class="success">Mobles</span></h2>
                </div>
                <div class="close" id="close-btn">
                    <span class="material-icons-sharp">
                        close
                    </span>
                </div>
            </div>

            <div class="sidebar">
                <a href="/taulerDeControl" class="active">
                    <span class="material-icons-sharp">
                        dashboard
                    </span>
                    <h3>Tauler de control</h3>
                </a>
                <a href="/proveidors">
                    <span class="material-icons-sharp">
                        storefront
                    </span>
                    <h3>Compres</h3>
                </a>
                <a href="/clients">
                    <span class="material-icons-sharp">
                        shopping_cart
                    </span>
                    <h3>Ventas</h3>
                </a>
                <a href="/empleats">
                    <span class="material-icons-sharp">
                        diversity_3
                    </span>
                    <h3>RRHH</h3>
                </a>
                <a href="/perfil">
                    <span class="material-icons-sharp">
                        settings
                    </span>
                    <h3>Configuracio</h3>
                </a>
                <a href="#" onclick="document.getElementById('logout-form').submit(); return false;">
                    <span class="material-icons-sharp">logout</span>
                    <h3 th:text="#{usuari.cerrarSesion}">Tancar sessió</h3>

                    <form id="logout-form" th:action="@{/logout}" method="post" style="display: none;">
                        <input type="submit" value="Sign Out" />
                    </form>
                </a>
            </div>
        </aside>
        <!-- End of Sidebar Section -->

        <!-- Main Content -->
        <main>
            <br><br>
            <!-- Analyses -->
            <div class="analyse">
                <div class="sales" onclick="window.location.href='/comandes';">
                    <div class=" status">
                        <div class="info">
                            <h1 th:text="#{ventasDiarias}">Ventas Diarias</h1>
                            <h2 class="precio" th:text="${comandasTotal}">0</h2>
                        </div>
                        <div class="progresss" th:data-percent="${PercentatgeDeCanvi}">
                            <svg>
                                <circle cx="38" cy="38" r="36"></circle>
                            </svg>
                            <div class="percentage">
                                <p th:text="${PercentatgeDeCanvi}"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="visits">
                    <div class="status" onclick="window.location.href='/clients';">
                        <div class="info">
                            <h1 th:text="#{clientVIP}">Client VIP</h1>
                            <div th:if="${ClientQueMesGasta != null}">
                                <p>Client: <span th:text="${ClientQueMesGasta.nom}"></span></p>
                                <p>Total Gastat: <span th:text="${totalGastat}"></span></p>
                            </div>
                            <div th:if="${ClientQueMesGasta == null}">
                                <p>No s'ha trobat ningun client.</p>
                            </div>

                            <h2 class="precio" th:text="${totalGastat}">0</h2>
                        </div>
                        <div class="progresss" th:data-percent="${calcularPorcentajeGasto}">
                            <svg>
                                <circle cx="38" cy="38" r="36"></circle>
                            </svg>
                            <div class="percentage">
                                <p th:text="${calcularPorcentajeGasto}"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="searches">
                    <div class="status" onclick="window.location.href='/empleats';">
                        <div class="info">
                            <br>
                            <h1 th:text="#{empleatsTotals}">Total d'empleats</h1>
                            <h2 th:text="${totalEmpleats}">0</h2>

                        </div>
                        <div class="progresss">
                            <img src="../static/imatges/empleats.png" th:src="@{/imatges/empleats.png}">
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Analyses -->
            <!-- Recent Orders Table -->
            <div class="recent-orders">
                <h2 th:text="#{ordeCompraRecent}"> Ordres de Compres recents</h2>
                <table>
                    <thead>
                        <tr>
                            <th scope="col" th:text="#{nom}">Nom</th>
                            <th scope="col" th:text="#{dataOrdre}">Data Ordre</th>
                            <th scope="col" th:text="#{estat}">Estat</th>
                            <th scope="col" th:text="#{total}">Total</th>

                    </thead>
                    <tbody>
                        <tr th:each="ordreCompra: ${ordreCompres}">
                            <td th:text="${ordreCompra.proveidor.nom}"></td>
                            <td th:text="${#dates.format(ordreCompra.data_ordre, 'dd-MM-yyyy')}"></td>
                            <td class="success" th:text="${ordreCompra.estat}"></td>
                            <td class="precio" th:text="${ordreCompra.total}"></td>
                            <td class="td-alinear">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <a href="/ordreCompraHistorial" th:text="#{mostrarTots}">Mostrar tots</a>
            </div>
            <!-- End of Recent Orders -->
            <!-- Botón flotante para abrir el chat -->
            <div class="chat-button" onclick="toggleChatbox()">
                <span class="material-icons-sharp">chat</span>
            </div>

            <!-- Chatbox -->
            <div id="chatbox" class="chatbox">
                <div class="chat-header">
                    <h3>NaturaMobles Suport</h3>
                    <span class="material-icons-sharp close-chat" onclick="toggleChatbox()">close</span>
                </div>
                <div class="chat-body" id="chat-body">
                    <!-- Mensajes del chat -->
                </div>
                <div class="chat-footer">
                    <input type="text" id="chat-input" placeholder="Escribe tu mensaje aquí..." />
                    <button onclick="enviarMensaje()">Enviar</button>
                </div>
            </div>

        </main>
        <!-- End of Main Content -->

        <!-- Right Section -->
        <div class="right-section">
            <div class="nav">
                <div class="dark-mode">
                    <span class="material-icons-sharp active">
                        light_mode
                    </span>
                    <span class="material-icons-sharp">
                        dark_mode
                    </span>
                </div>

                <div class="profile-dropdown">
                    <div class="profile" onclick="toggleDropdown()">
                        <div class="info">
                            <p th:text="#{saludo} + ${nomUsuari}"></p>
                        </div>
                        <div class="profile-photo">
                            <img th:src="@{/fotoPerfil/{usuari}(usuari=${nomUsuari})}" />
                            <p></p>
                        </div>
                    </div>
                    <div class="dropdown-menu" id="profile-dropdown-menu">
                        <a href="/perfil" class="dropdown-item">Ir a mi perfil</a>
                        <a href="#" onclick="document.getElementById('logout-form').submit(); return false;"
                            class="dropdown-item">
                            <h3 th:text="#{perfil.cerrarSesion}">Tancar sessió</h3>
                        </a>
                        <form id="logout-form" th:action="@{/logout}" method="post" style="display: none;">
                            <input type="submit" value="Sign Out" />
                        </form>
                    </div>
                </div>

            </div>
            <!-- End of Nav -->

            <div class="user-profile">
                <div class="logo">
                    <img src="../static/imatges/logo.png" th:src="@{/imatges/logo.png}">
                    <h2>Natura Mobles</h2>
                    <p th:text="#{definicioEmpresa}">Empresa lider en venta de mobles</p>
                </div>
            </div>
        </div>


    </div>
    <script th:src="@{js/darkmode.js}" src="static/js/darkmode.js"></script>
    <script th:src="@{js/desplegable.js}" src="static/js/desplegable.js"></script>
    <script th:src="@{js/graficos.js}" src="static/js/graficos.js"></script>
    <script th:src="@{js/chatbox.js}" src="static/js/chatbox.js"></script>
    <script th:src="@{/js/formateoPrecios.js}" src="/static/js/formateoPrecios.js"></script>
</body>

</html>