<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="../../static/styles/style.css" th:href="@{/styles/style.css}">
    <link rel="stylesheet" href="../../static/styles/modal.css" th:href="@{/styles/modal.css}">
    <link rel="stylesheet" th:href="@{/styles/popupError.css}" href="../static/styles/popupError.css">
    <title>Alta Ordre | Natura Mobles</title>
    <link rel="icon" th:href="@{/imatges/logo.png}" type="image/png" sizes="32x32" S
        media="(prefers-color-scheme: light)">
    <link rel="icon" th:href="@{/imatges/logo1.png}" type="image/png" sizes="32x32"
        media="(prefers-color-scheme: dark)">
</head>

<body>

    <div class="container">
        <!-- Sidebar Section -->
        <aside>
            <div class="toggle">
                <a href="/taulerDeControl">
                    <div class="logo">
                        <img alt="Imatge amb el logo de la empresa" src="../../static/imatges/logo.png"
                            th:src="@{/imatges/logo.png}">
                        <h2>Natura<span class="success">Mobles</span></h2>
                    </div>
                </a>
                <div class="close" id="close-btn">
                    <span class="material-icons-sharp">close</span>
                </div>
            </div>

            <div class="sidebar">
                <a href="/proveidors">
                    <span class="material-icons-sharp">
                        sort
                    </span>
                    <h3 th:text="#{llistatProveidor}">Llistat Proveïdors</h3>
                </a>
                <a href="/ordreDeCompra">
                    <span class="material-icons-sharp">
                        sort
                    </span>
                    <h3 th:text="#{llistatOrdres}">Llistat Ordres de compra</h3>
                </a>
                <a href="/ordresCompra/nova" id="add-btn" class="active">
                    <span class="material-icons-sharp">
                        add
                    </span>
                    <h3 th:text="#{afegirOrdre}"></h3>
                </a>
                <a href="/ordreCompraHistorial">
                    <span class="material-icons-sharp">
                        receipt_long
                    </span>
                    <h3 th:text="#{historialOrdres}">Historial Ordres de compra</h3>
                </a>
                <a href="/login">
                    <span class="material-icons-sharp">
                        logout
                    </span>
                    <h3 th:text="#{compres.cerrarSesion}">Tancar sessio</h3>
                </a>
            </div>
        </aside>

        <main>
            <h1 th:text="#{seleccionarProveidor}"></h1>
            <br>
            <ul>
                <li th:each="proveidor : ${proveidors}">
                    <a th:href="@{/ordresCompra/productes/{id}(id=${proveidor.id_proveidor})}"
                        th:text="${proveidor.nom}"></a>
                </li>
            </ul>
        </main>
        <div class="right-section">
            <div class="nav">
                <div class="dark-mode">
                    <span class="material-icons-sharp active">
                        light_mode
                    </span>
                    <span class="material-icons-sharp">
                        dark_mode
                    </span>
                </div>
                <div class="profile-dropdown">
                    <div class="profile" onclick="toggleDropdown()">
                        <div class="info">
                            <p th:text="#{saludo} + ${nomUsuari}"></p>
                        </div>
                        <div class="profile-photo">
                            <img th:src="@{/fotoPerfil/{usuari}(usuari=${nomUsuari})}" />
                        </div>
                    </div>
                    <div class="dropdown-menu" id="profile-dropdown-menu">
                        <a href="/perfil" class="dropdown-item" th:text="#{perfil}">Ir a mi perfil</a>
                        <a href="#" onclick="document.getElementById('logout-form').submit(); return false;"
                            class="dropdown-item">
                            <h3>Tancar sessió</h3>
                        </a>
                        <form id="logout-form" th:action="@{/logout}" method="post" style="display: none;">
                            <input type="submit" value="Sign Out" />
                        </form>
                    </div>
                </div>
            </div>
            <div class="user-profile">
                <a href="/taulerDeControl">
                    <div class="logo">
                        <img src="../../static/imatges/logo.png" th:src="@{/imatges/logo.png}">
                        <h2>Natura Mobles</h2>
                        <p th:text="#{definicioEmpresa}"></p>
                    </div>
                </a>
            </div>
        </div>
        <div class="popup" id="popup" th:classappend="${successMessage != null || errorMessage != null} ? 'show' : ''"
            th:styleappend="${successMessage != null} ? 'background-color: #4caf50;' : ''">
            <p th:if="${successMessage}" th:text="${successMessage}"></p>
            <p th:if="${errorMessage}" th:text="${errorMessage}"></p>
            <div class="progress-bar"></div>
        </div>
        <script th:src="@{/js/popupError.js}" src="../static/js/popupError.js"></script>
        <script th:src="@{js/cargarProductesProveidor.js}" src="static/js/cargarProductesProveidor.js"></script>
        <script th:src="@{/js/darkmode.js}" src="/static/js/darkmode.js"></script>
        <script th:src="@{/js/desplegable.js}" src="/static/js/desplegable.js"></script>
</body>

</html>